// media queries.
@media only screen and (max-width: 1200px) {
  
   .main {

       &__grid {
           grid-gap: 3vw;
           grid-template-columns: repeat(2, 1fr);
       }

       &__post-photo {
         height: 25vw;
       }

       &__flex {
           width: 50%;
    }

   }
}

@media only screen and (max-width: 800px) {
  
   .main__grid {
    grid-gap: 2vw;
    grid-template-columns: repeat(2, 1fr);
  }


  &__flex {
      width: 60%;
  } 

}

@media only screen and (max-width: 600px) {
   
   .main {

      &__grid {
          grid-template-columns: 1fr;
      }

      &__post-photo {
          height: 50%;
      }

      &__single-post {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;
      }

      &__right-align {
          padding: .2rem;
      }


  }


}

@media only screen and (max-width: 400px) {
   
   .main {
       padding: .6rem;
       &__grid {
        grid-template-columns: 1fr;
      }
      &__header {
          font-size: 1rem;
      }
      &__flex {
        width: 80%;
      }
      &__photo-small {
          flex: 40%;
      }
      &__description {
          flex: 60%;
      }
      &__links-grid {
          grid-template-columns: 1fr;
        }
      &__pre {
        position: relative;
      }
      &__pre::before {
          content: "amo";
          position: absolute;
          left: 0;
      }
   }

  
}


