<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>tipsforcareergrowth</title>

  <link rel="stylesheet" href="./SASS/styles.css">
</head>
<body>
  
  <!-- header -->   
  <header class="header">
  <div class="header__nav">
    <p class="header__domain">mosdev</p>
    <div class="header__burger">
       <i style="font-weight: 900;font-size: 2rem;" class="fas fa-bars">burger</i>
    </div>
    <ul class="header__links">
      <li class="header__list"><a href="#" class="header__link">Home</a></li>
      <li class="header__list"><a href="#" class="header__link">FAQ</a></li>
      <li class="header__list"><a href="#" class="header__link">About me</a></li>
      <li class="header__list"><a href="#" class="header__link">Contacts</a></li>
    </ul>
 </div>
 </header>

    <div class="header__body">
       <img src="./IMAGES/header-photo 1.png" alt="photo" class="header__photo">
       <img src="./IMAGES/header-dark 1.png" alt="dark background" class="header__dark-bg">
       <p class="header__text-center">EXPLORE TIPS AND TRICKS, BECOME SO GOOD ON YOUR CAREER</p>
       <div class="header__author">
         <div class="header__author-photo-wrapper">
           <img src="./IMAGES/author-photo.png" alt="author-photo" class="header__author-photo">
         </div>
         <p class="header__text">mosdev ally</p>
       </div>
    </div>

  <!-- header END-->   

  <!-- main -->
  <main class="main">

     <h2 class="main__header main__back-lines">the most recent blog posts</h2>
      <hr class="main__header-underline">
     
     <div class="main__posts main__grid">
      
        <!-- single post -->
        <div class="main__single-post">
           <img src="./IMAGES/developer tools.png" alt="post photo" class="main__post-photo">
           <div class="main__right-align">
            <h5 class="main__header main__header-small">3  three important things you need to become a good coder</h5>
            <p class="main__text main__text-small">aliquam tristique massa pharetra amet urna ornare ultrices egestas ultricies. Scelerisque amet curabitur quis et in at dictumst. Molestie massa vel nulla ipsum duis. Neque.</p>
            <button class="main__read-more">read more</button>
           </div>
        </div>
        <!-- single post END -->

        <!-- single post -->
        <div class="main__single-post">
           <img src="./IMAGES/focus.png" alt="post photo" class="main__post-photo">
           <div class="main__right-align">
             <h5 class="main__header main__header-small">3  three important things you need to become a good coder</h5>
             <p class="main__text main__text-small">aliquam tristique massa pharetra amet urna ornare ultrices egestas ultricies. Scelerisque amet curabitur quis et in at dictumst. Molestie massa vel nulla ipsum duis. Neque.</p>
             <button class="main__read-more">read more</button>
           </div>
        </div>
        <!-- single post END -->

        <!-- single post -->
        <div class="main__single-post">
           <img src="./IMAGES/journey.png" alt="post photo" class="main__post-photo">
           <div class="main__right-align">
             <h5 class="main__header main__header-small">3  three important things you need to become a good coder</h5>
             <p class="main__text main__text-small">aliquam tristique massa pharetra amet urna ornare ultrices egestas ultricies. Scelerisque amet curabitur quis et in at dictumst. Molestie massa vel nulla ipsum duis. Neque.</p>
             <button class="main__read-more">read more</button>
           </div>
        </div>
        <!-- single post END -->

        <!-- single post -->
        <div class="main__single-post">
           <img src="./IMAGES/laptop.png" alt="post photo" class="main__post-photo">
           <div class="main__right-align">
            <h5 class="main__header main__header-small">3  three important things you need to become a good coder</h5>
            <p class="main__text main__text-small">aliquam tristique massa pharetra amet urna ornare ultrices egestas ultricies. Scelerisque amet curabitur quis et in at dictumst. Molestie massa vel nulla ipsum duis. Neque.</p>
            <button class="main__read-more">read more</button>
          </div>
        </div>
        <!-- single post END --> 

     </div>

     <!-- pagination -->
      <div class="main__pagination">

        <div class="main__flex">
          <span class="main__arrow"> << </span>
          <a href="#" class="main__link active">1</a>
          <a href="#" class="main__link">2</a>
          <a href="#" class="main__link">3</a>
          <a href="#" class="main__link">4</a>
          <a href="#" class="main__link">5</a>
          <span class="main__arrow"> >> </span>
        </div>

        <div class="main__underline"></div>

      </div>
     <!-- pagination END -->

     <div class="main__related-posts">

        <h2 class="main__header main__back-lines">RELATED BLOG POSTS</h2>
        <hr class="main__header-underline">

        <div class="main__posts-list">

          <a href="#">
            <div class="main__thumnail">
              <img src="./IMAGES/laptop.png" alt="main photo" class="main__photo-small">
              <div class="main__description">
                <p class="main__header-small">Time is best, until you own it</p>
                <p class="main__text-small">Lorem Ipsum is simply dummy text of the printing and  has been the industry's sta…</p>
                <p class="main__date-added"><i>icon</i> JULY 20, 2021</p>
              </div>
            </div>
          </a>

          <a href="#">
            <div class="main__thumnail">
              <img src="./IMAGES/journey.png" alt="main photo" class="main__photo-small">
              <div class="main__description">
                <p class="main__header-small">Time is best, until you own it</p>
                <p class="main__text-small">Lorem Ipsum is simply dummy text of the printing and  has been the industry's sta…</p>
                <p class="main__date-added"><i>icon</i> JULY 20, 2021</p>
              </div>
            </div>
          </a>

          <a href="#">
            <div class="main__thumnail">
              <img src="./IMAGES/focus.png" alt="main photo" class="main__photo-small">
              <div class="main__description">
                <p class="main__header-small">Time is best, until you own it</p>
                <p class="main__text-small">Lorem Ipsum is simply dummy text of the printing and  has been the industry's sta…</p>
                <p class="main__date-added"><i>icon</i> JULY 20, 2021</p>
              </div>
            </div>
          </a>

        </div>
        <!-- post list END -->
     </div>

     <!-- posts links -->
     <div class="main__links">
        <h2 class="main__header main__back-lines">other articles</h2>
        <hr class="main__header-underline">
        <div class="main__links-grid">
             <a href="#" class="main__link">Career advice</a>
             <a href="#" class="main__link">Career for business</a>
             <a href="#" class="main__link">job search tips and tricks</a>
             <a href="#" class="main__link">Motivation and Inspiration</a>
             <a href="#" class="main__link">Money and Negotiation</a>
             <a href="#" class="main__link">Work Life Balance</a>
        </div>
     </div>
     <!-- posts links END -->
     
  </main>
  <!-- main END-->

  <!-- social medias -->
  <div class="social-medias">
     <h3 class="social-medias__heading">tipsforcareergrowth</h3>
     <p class="social-medias__icons">
        <i class="fab fa-whatsapp"></i>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-facebook-f"></i>
     </p>
  </div>
  <!-- social medias END -->

  <!-- footer -->
  <footer class="footer">
     <p class="footer__test">&copy;copyright 2021 <a href="#" class="footer__link"><span class="footer__author">by mosdev ally</span></a></p>
  </footer>
  <!-- footer END-->

  <script src="./JS/main.js"></script>

</body>
</html>